* {
    margin: 0;
}

body {
    background-image: url("/img/Francias0000.jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Pacifico', cursive;
    cursor: url(/img/cursor.png),auto;
}




/* ESTILOS GENERALES */
nav{ 
    background:linear-gradient(60deg,rgb(80, 200, 206), rgb(86, 212, 184) );
    position: fixed;
    width: 100%;
    text-align: center;
}

nav  ul{
    list-style: none ;
    padding: 0;
    
}

nav li{
    line-height: 60px;
    position: relative;
}

nav li ul{
    position: absolute;
}

nav a{
    text-decoration: none;
    color:#000100;
    display: block;
    padding:0px 70px 0px 70px;
    font-size: 25px;

}

nav a:hover{
    background-color: rgba(31, 69, 76, 0.894);
    transition: 0.5s;
}




nav li ul{
    display: none;
}

nav li:hover ul{
    display:block;
}



/* ESTILOS PRIMER NIVEL */
nav > ul{
    width: 100%;
}

nav > ul > li{
    display: inline-block;
}

/* ESTILO SEGUNDO NIVEL */

nav li li{
    background: rgba(45, 96, 133, 0.758);
    width: 108%;
}

nav > ul > li > ul{
    top:100%
}

main{
    padding: 60px;
}

body{
    background-image: url(/imagen/istockphoto-577965774-612x612.jpg);
    background-size: 100%;
}

.encabezado{
    background-color: rgba(138, 243, 243, 0.598);
    font-size: 20px;
    text-align: center;
    margin: 0px 100px 0px 100px;
    font-family: Arial;
    text-shadow: 0px 0px 20px rgb(8, 5, 144);
}

.textoimagen{
    background-color: rgba(138, 243, 243, 0.598);
    margin: 0px 100px 0px 100px;
    font-size: 30px;
}

.textoimagen p{
    text-align: justify;
}

.textoimagen img{
    width: 250px;
    float: left;
    margin: 0px 100px 0px 100px;
}
.titulo{
    text-align: center;
    background-color: rgba(138, 243, 243, 0.598);
    margin: 0px 100px 0px 100px;
}

.imagenes{
    background-color: rgba(138, 243, 243, 0.598);
    margin: 0px 100px 0px 100px;
    font-size: 30px;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fotos{
    padding: 0 20px 20px;
}

img:hover{
    opacity: .5;
    transition: .5s;
}

.piedepagina{
    margin: 30px;
    background-color: rgba(31, 97, 240, 0.768);
    text-align: right;
}

.piedepagina p{
    font-size: 30px;
}

.piedepagina address{
    font-size: 30px;
}